body{
    background-color: #2e3440;
    color: #d8dee9;
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
    color: #d8dee9;
}
.niximg{
    padding-top: 3%;
    padding-bottom: 4%;
    width: 20%;
}
.img{
    padding: 0;
    margin: 0;
    text-align: center;
}
.search{
    text-align: center;
    padding-bottom: 4%;
}
.search-inp{
    background-color: #434c5e;
    border: 0px solid #5e81ac;
    padding: 0px;
    color: #d8dee9;
    font-size: 13px;
}
.menu-1 ,.menu-2{
    display: inline-block;
    padding: 1%;
    width: 10%;
    font-size: 15px;
    background-color: #3b4252;
    color: #d8dee9
}
.menu-1{
    margin-left:35.5% ;
}
.menu-2{
    margin-left:5%;
}
.menu-3{
    text-align: center;
    margin-top: 2%;
    padding: 1%;
    margin-left: 44%;
    width: 10%;
    font-size: 15px;
    background-color: #3b4252;
    color: #d8dee9;
    
}
